:root {
  --mainGreen: #1bcbac;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.main {
  position: relative;
  top: 7rem;

  /* Footer helpers?? */
  /* position: relative; */
  /* margin-bottom: 5rem; */
}

.img-container {
  width: 10rem;
}

.img-container img {
  max-width: 100%;
}

/* These are SingleProduct styles */
.product-container {
  margin-top: 2rem;
}

.single-product-img {
  cursor: pointer;
}

.product-shop-desc p {
  font-size: 1rem;
}

.cart-button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}
/* SingeProduct ends */

/* These are Home styles */
.home-image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
  position: relative !important;
  width: 100%;
}

.home-image img {
  max-width: 100%;
  margin-top: -15rem;
}

.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 1rem;
  margin-top: -5rem;
  width: 50rem;
}

.introduction h1 {
  font-size: 5rem;
}

.introduction p {
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.button-text {
  width: 45%;
}

.home-buttons .button-text button {
  background-color: white !important;
  color: var(--mainGreen) !important;
  width: 9rem;
  padding: 1.1rem !important;
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
}
/* Home ends */

/* These are Navbar styles */
.navbar {
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.8)
}

.navbar-home {
  margin-left: 3rem;
}

.navbar-nav {
  margin-right: 3rem;
}

.navbar-nav li {
  padding: 1.5rem;
}

.navbar-nav li:hover {
  background-color: #1bcbab1f;
  cursor: pointer;
}

.nav-link {
  color: var(--mainGreen);
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--mainGreen);
}
/* Navbar ends */

/* These are ShopLogin styles */
.login-form {
  width: 30%;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  text-align: center;
  margin-top: 2rem;
}

.login-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  width: 7rem;
  padding: 1.1rem !important;
}

.register-container {
  margin-top: 3rem;
  text-align: center;
}
/* ShopLogin ends */

/* These are ShopRegister styles */
.goback-login-button {
  margin-bottom: 1rem;
}

.register-header {
  margin-bottom: 2rem;
}

.register-header p {
  line-height: 0.9rem;
}

.register-submit-button {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.register-submit-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.register-field {
  margin-bottom: 0.7rem;
}
/* ShopRegister ends */

/* These are Cart styles */
.empty-cart {
  text-align: center;
  margin-top: 5rem;
}

.empty-cart h1 {
  margin-bottom: 1.4rem;
}

.empty-cart button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}
/* Cart ends */

/* These are InCartProducts styles */
.cart-product-container {
  width: 80%;
  margin: 0 auto;
  height: 10rem;
}

.cart-product-desc p {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.divider {
  margin-top: -0.3rem;
  margin-bottom: 0.3rem;
}

.cart-img-container {
  width: 10rem;
}

.cart-img-container img {
  max-width: 100%;
}

.cart-remove-button {
  color: red;
  width: 1.2rem;
  cursor: pointer;
}
/* InCartProducts ends */

/* These are Checkout styles */
.img-container-cart {
  width: 6rem;
}

.img-container-cart img {
  max-width: 100%;
}
/* Checkout ends */

/* These are Modal styles */
.modal-container {
  position: fixed;
  z-index: 2000;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  /* Enables scroll */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.img-modal-container {
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.modal-img {
  max-width: 80%;
  margin: auto;
}

.modal-close-button {
  background-color: rgb(255, 46, 46) !important;
  width: 6rem;
  align-self: center;
}

.modal-close-button:hover {
  background-color: rgb(172, 0, 0) !important;
}
/* Modal ends here */

/* These are Footer styles */
.footer {
  background: #AD887F;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 5rem;
  width: 100%;
}
/* Footer ends */