:root {
  --mainGreen: #1bcbac;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  height: 100%;
}

.main {
  position: relative;
  top: 7rem;
}

.img-container {
  width: 11rem;
}

.img-container img {
  max-width: 100%;
}

.img-container-small-screen {
  display: none;
}

.img-container-small-screen img {
  max-width: 100%;
}

.prices {
  display: flex;
  align-items: center;
}

.price-container .original-price {
  color: grey;
  text-decoration: line-through;
  margin-left: 1rem;
}

.price-container .discount {
  color: red;
  font-size: 1.4rem;
}

.info-message {
  position: fixed;
  top: 10%;
  right: 30%;
  left: 30%;
  z-index: 2001;
}

@media (max-width: 1024px) {
  .img-container {
    width: 8rem;
  }
}

@media (max-width: 768px) {
  .img-container {
    width: 7rem;
  }

  .prices h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  .img-container {
    display: none;
  }

  .img-container-small-screen {
    display: block;
    width: 7rem;
  }

  .product-shop-small-screen-container {
    display: flex;
    justify-content: space-between;
  }

  .price-container {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
  }

  .prices {
    margin-right: 1rem;
  }

  .cart-button-container {
    margin-top: -2rem;
  }
}

/* These are Products styles */
.no-products-onsale {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 22rem;
}

.no-shop-results {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
}
/* Products ends */

/* These are SingleProduct styles */
.product-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.single-product-img {
  cursor: pointer;
}

.product-shop-desc-text {
  font-size: 1rem;
  line-height: 1rem;
}

.product-header-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -1.2rem;
}

.product-header-date h6 {
  text-align: right;
}

.expiration-date {
  color: var(--mainGreen);
  text-align: left;
}

.cart-button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}
/* SingeProduct ends */

/* These are Home styles */
.home-container {
  margin: 0 !important;
  padding: 0 !important;
}

.home-header-image-container {
  margin-bottom: 16rem;
}

.home-image-container img {
  width: 100vw;
  margin-top: -1.2rem;
  height: 602px;
  object-fit: cover;
}

.introduction {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  width: 70%;
  margin: 0 auto;
  margin-top: -35rem;
}

.introduction-header {
  font-size: 5rem;
}

.introduction-text {
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
}

.home-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.button-text {
  width: 35%;
}

.home-buttons .button-text button {
  background-color: white !important;
  color: var(--mainGreen) !important;
  width: 9rem;
  padding: 1.1rem !important;
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
}

.home-intro-container {
  margin-top: 4rem;
}

.home-intro {
  margin-top: 3rem;
}

.home-span-link {
  color: var(--mainGreen);
}

.home-span-link:hover {
  text-decoration: none;
  color: teal;
}

@media (max-width: 827px) {
  .home-header-image-container {
    margin-bottom: 9rem;
  }
}

@media (max-width: 768px) {
  .home-header-image-container {
    margin-bottom: 9rem;
  }

  .introduction {
    margin-top: -40rem;
  }
}

@media (max-width: 726px) {
  .introduction-header {
    font-size: 3rem;
  }

  .introduction-text {
    font-size: 1.2rem;
  }
  
  .home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-text {
    width: 50%;
    margin-bottom: 2rem;
  }

  .button-text p {
    font-size: 1.1rem;
  }
}

@media (max-width: 494px) {
  .introduction-header {
    font-size: 2.5rem;
  }
}

@media (max-width: 441px) {
  .introduction-header {
    font-size: 2rem;
  }

  .introduction-text {
    font-size: 0.9rem;
  }

  .home-buttons .button-text button {
    width: 9rem;
    padding: 0.9rem !important;
    font-size: 1.1rem !important;
  }

  .button-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .home-header-image-container {
    margin-bottom: 0rem;
  }
}
/* Home ends */

/* These are Navbar styles */
.navbar {
  padding: 0rem;
  height: 5.8rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.8);
  z-index: 1000;
}

.nav-link-header {
  font-weight: bold;
  margin-left: 2rem;
  color: var(--mainGreen);
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #FFFFFF;
}

.link-nav {
  color: var(--mainGreen);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2rem;
}

.link-nav:hover {
  text-decoration: none;
  color: var(--mainGreen);
  background-color: #1bcbab1f;
}

.nav-links-one {
  margin-left: 2rem;
}

.nav-links-two {
  margin-left: 2rem;
  margin-right: 2rem;
}
/* Navbar ends */

/* These are ShopLogin styles */
.login-form {
  width: 400px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  text-align: center;
  margin-top: 2rem;
}

.login-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  width: 7rem;
  padding: 1.1rem !important;
}

.signup-container {
  margin-top: 3rem;
  text-align: center;
}
/* ShopLogin ends */

/* These are ShopLoggedIn styles */
.loggedin-header {
  align-items: center;
}

.loggedin-header .partner-pages {
  text-align: left;
}

.loggedin-header .shopname {
  text-align: center;
}

.loggedin-header .logout-shop {
  text-align: right;
}

.loggedin-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 50%;
}

.loggedin-buttons button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.no-products-sale {
  text-align: center;
}

.no-products-sale h5 {
  color: var(--mainGreen);
  cursor: pointer;
}

.no-products-sale h5:hover {
  color: teal;
}

@media (max-width: 767px) {
  .loggedin-header .partner-pages {
    text-align: center;
  }

  .loggedin-header .logout-shop {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .loggedin-buttons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
  }

  .loggedin-buttons button {
    width: 10rem;
    margin-bottom: 0.5rem !important;
    height: 3.5rem;
  }
}
/* ShopLoggedIn ends */

/* These are ShopProduct/ShopAddProduct styles */
.loader {
  position: absolute;
  top: 150%;
  left: 50%;
}

.product-edit-form {
  margin-bottom: 0rem;
}

.shop-product-buttons {
  display: flex;
  justify-content: space-between;
}

.shop-product-buttons .edit-button {
  width: 5rem;
}

.edit-product-buttons {
  margin-top: -1rem;
  margin-bottom: -0.5rem;
}

.edit-product-buttons button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.discount-buttons {
  display: flex;
  justify-content: space-between;
}

.not-selected-btn {
  padding: 0.3rem !important;
  margin-bottom: 0.4rem !important;
}

.selected-btn {
  padding: 0.3rem !important;
  margin-bottom: 0.4rem !important;
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.add-product-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.discounted-price {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .shop-product-buttons {
    justify-content: flex-end;
  }

  .price-container-shop {
    display: flex;
    justify-content: flex-end;
  }
}
/* ShopProduct/ShopAddProduct ends */

/* These are ShopBoughtProduct styles */
.bought-product-container {
  margin-bottom: 1.2rem;
}

.bought-product-desc {
  font-size: 0.9rem;
}

.bought-product-desc h4 {
  margin-bottom: -1rem;
}

.bought-product-desc p {
  line-height: 0.6rem;
}

/* ShopBoughtProduct ends */

/* These are ShopExpiredProduct styles */
.expired-edit {
  margin: 0 auto;
}

.expiry-set-buttons {
  display: flex;
  justify-content: space-between;
}

.set-date-button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.shop-expire-edit-button {
  display: flex;
  justify-content: space-between;
}

.expire-edit-button {
  margin-left: 0.5rem;
}
/* ShopExpiredProduct ends */

/* These are ShopManage styles */
.remove-shop-modal {
  background-color: white;
  border: 2px solid rgb(158, 0, 0);
  padding: 2rem;
  position: fixed;
  top: 30%;
  right: 20%;
  left: 20%;
  z-index: 2000;
  text-align: center;
}

.remove-alert-text {
  margin-bottom: 1rem;
}

.remove-alert-buttons {
  display: flex;
  justify-content: space-evenly;
}

.remove-confirm-text {
  margin-top: 1rem;
}

.edit-shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 25%;
  margin-bottom: 1rem;
}

.edit-field {
  margin-bottom: 0.7rem;
}

.edit-submit-button {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.edit-submit-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.zones-container {
  width: 50%;
  margin-top: 2rem;
}

.edit-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.danger-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(158, 0, 0);
  padding: 1rem;
}

@media (max-width: 768px) {
  .edit-shop-header {
    width: 50%;
  }

  .remove-shop-modal {
    top: 10%;
  }
}

@media (max-width: 425px) {
  .zones-container {
    width: 100%;
  }

  .edit-shop-header {
    width: 100%;
  }

  .remove-shop-modal {
    top: 5%;
    left: 10%;
    right: 10%;
  }
}
/* ShopManage ends */

/* These are ShopRegister styles */
.register-container {
  width: 55rem;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.register-header {
  margin-bottom: 2rem;
  width: 80%;
  margin: 0 auto;
}

.register-form {
  justify-content: center;
}

.register-overview {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.register-progress {
  display: flex;
  width: 14%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.3rem;
}

.progress-ball-active {
  background-color: var(--mainGreen);
  border-radius: 100%;
  height: 0.4rem;
  width: 0.4rem;
}

.progress-ball-nonactive {
  background-color: rgb(218, 216, 216);
  border-radius: 100%;
  height: 0.4rem;
  width: 0.4rem;
}

.register-question {
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  font-weight: bold;
  text-align: center;
}

.register-continue-button {
  margin-top: 1rem;
}

.register-fields {
  width: 80%;
}

.goback-login-button {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.register-submit-button {
  text-align: center;
  margin-top: 1.5rem;
}

.register-submit-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  width: 9rem;
}

.register-field {
  margin-bottom: 1rem;
  margin-top: -0.3rem;
}

.show-password {
  margin-top: -0.7rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.register-success {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.coordinates-info {
  margin-top: 1rem;
}

.coordinates-zone {
  border: 1px solid grey;
  padding: 0.5rem;
}

.coordinates-fields {
  display: flex;
}

.get-coordinates-map-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.left-of-register-map {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.clear-coordinates-container {
  margin-bottom: 2rem;
}

.coordinates-text {
  font-size: 0.9rem;
}

.register-map {
  width: 50%;
}

.map-marker-register {
  color: black;
}

@media (max-width: 425px) {
  .coordinates-fields {
    flex-direction: column;
  }

  .get-coordinates-map-container {
    flex-direction: column;
  }

  .left-of-register-map {
    width: 100%;
  }
}
/* ShopRegister ends */

/* These are Cart styles */
.empty-cart {
  text-align: center;
  margin-top: 5rem;
}

.empty-cart h1 {
  margin-bottom: 1.4rem;
}

.empty-cart button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}

.cart-header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.cart-descriptions {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

.cart-buttons {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cart-continue-empty-buttons {
  display: flex;
  justify-content: space-evenly;
}

.cart-price-container {
  display: flex;
  flex-direction: row-reverse;
}

.cart-prices {
  display: flex;
  flex-direction: column;
}

.cart-prices h6 {
  color: teal;
  margin-top: -0.3rem;
}

.checkout-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  padding: 1rem !important;
  width: 8rem;
}
/* Cart ends */

/* These are InCartProducts styles */
.cart-product-container {
  width: 80%;
  margin: 0 auto;
  height: 10rem;
}

.cart-product-desc p {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.divider {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.cart-img-container {
  width: 9rem;
}

.cart-img-container img {
  max-width: 100%;
}

.cart-remove-button {
  color: red;
  width: 1.2rem;
  cursor: pointer;
}

.cart-remove-text-small-screen {
  display: none;
}

@media (max-width: 1024px) {
  .cart-img-container {
    width: 6rem;
  }

  .prices h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  .cart-header {
    width: 100%;
  }

  .cart-descriptions {
    width: 100%;
  }

  .cart-product-container {
    width: 100%;
  }

  .cart-buttons {
    width: 100%;
  }

  .cart-continue-empty-buttons {
    justify-content: flex-start;
  }

  .cart-price-container {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .cart-img-container {
    width: 6rem;
  }
}

@media (max-width: 767px) {
  .cart-descriptions {
    display: none;
  }

  .cart-img-container {
    display: none;
  }

  .checkout-button {
    display: flex;
    justify-content: flex-end;
  }

  .cart-product-container {
    margin-bottom: 4rem;
  }

  .cart-remove-item-icon {
    display: flex;
    margin-top: -2.3rem;
  }

  .cart-remove-text-small-screen {
    display: inline;
    margin-left: 1rem;
  }
}
/* InCartProducts ends */

/* These are Checkout styles */
.checkout-header {
  margin-bottom: 2rem;
}

.img-container-checkout {
  width: 5rem;
}

.img-container-checkout img {
  max-width: 100%;
}

.checkout-apply-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.checkout-apply-button button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  height: 4rem;
  width: 10rem;
}

.back-cart-link .text {
  color: var(--mainGreen) !important;
}

.back-cart-link:hover {
  text-decoration: none;
}

.checkout-product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.7rem;
}

.checkout-img-desc {
  display: flex;
  align-items: center;
}

.checkout-desc {
  margin-left: 1rem;
}

.checkout-total {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .checkout-desc h6 {
    font-size: 0.9rem;
  }
}

@media (max-width: 991px) {
  .checkout-product-container {
    height: 6rem;
  }

  .checkout-img-desc {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .checkout-total {
    margin-top: 3rem;
  }

  .checkout-product-container {
    height: 4.7rem;
  }

  .checkout-img-desc {
    flex-direction: row;
    align-items: center;
  }

  .checkout-desc h6 {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .checkout-desc h6 {
    font-size: 0.8rem;
  }
}
/* Checkout ends */

/* These are Modal styles */
.modal-container {
  position: fixed;
  z-index: 2000;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;  /* Enables scroll */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.img-modal-container {
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.modal-img {
  max-width: 80%;
  margin: auto;
}

.modal-close-button {
  background-color: rgb(255, 46, 46) !important;
  width: 6rem;
  align-self: center;
}

.modal-close-button:hover {
  background-color: rgb(172, 0, 0) !important;
}
/* Modal ends here */

/* These are PaymentSuccess styles */
.success-header {
  text-align: center;
  margin-top: 2rem;
}

.success-product-container {
  display: flex;
  margin-bottom: 2rem;
}

.success-product-desc {
  margin-left: 1rem;
}

.success-product-desc p {
  font-size: 0.9rem;
  line-height: 0.7rem;
}
/* PaymentSuccess ends */

/* These are PaymentCancel styles */
.cancel-container {
  text-align: center;
  margin-top: 3rem;
}

.cancel-button {
  background-color: var(--mainGreen) !important;
  color: white !important;
}
/* PaymentCancel ends */

/* These are PartnerInfo style */
.info-img-container {
  width: 30rem;
}

.info-img-container img {
  max-width: 100%;
  border-radius: 0.3rem;
}

.sections {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;  
}

.info-first-section {
  display: flex;
  justify-content: space-between;
}

.info-intro {
  width: 45%;
}

.info-first-section-header {
  margin-bottom: 2rem;
}

.info-signup-btn {
  margin-bottom: 1.5rem;
}

.info-signup-btn button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  padding: 1.1rem !important;
  width: 7rem;
}

.info-login-link {
  color: var(--mainGreen);
}

.info-login-link:hover {
  text-decoration: none;
  color: teal;
}

.info-second-section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.info-benefits {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.benefits {
  width: 30%;
}

.benefit-header {
  color: var(--mainGreen);
  margin-top: 2rem;
}

.benefit-image-container {
  width: 8rem;
  height: 8rem;
  background-color: #1bcbab1f;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.benefit-image-container img {
  width: 5rem;
  align-self: center;
}

.info-third-section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.info-workflow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.info-workflow-img {
  width: 25rem;
}

.info-workflow-img img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.info-workflow-header-text {
  width: 45%;
  margin-top: 2rem;
}

.info-workflow-header {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.info-workflow-header h4 {
  margin-left: 1rem;
  width: 80%;
}

.info-workflow-nr {
  background-color: #1bcbab1f;
  background-color: var(--mainGreen);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
}

.info-sign-up {
  text-align: center;
}

.info-sign-up h2 {
  margin-bottom: 2rem;
}

.info-sign-up p {
  margin-bottom: 1.8rem;
}

@media (max-width: 768px) {
  .info-first-section {
    flex-direction: column;
  }

  .info-intro {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .info-intro-img {
    margin: 0 auto;
  }

  .info-workflow {
    flex-direction: column-reverse;
    text-align: center;
  }

  .info-workflow-header-text {
    width: 90%;
    margin: 0 auto;
  }

  .info-workflow-header {
    margin-bottom: 1rem;
    justify-content: center;
  }

  .info-workflow-img {
    margin-top: 1rem;
    align-self: center;
  }

  .info-benefits {
    flex-direction: column;
    align-items: center;
  }

  .benefits {
    width: 90%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 425px) {
  .info-img-container {
    width: 15rem;
  }
}
/* PartnerInfo ends */

/* These are Footer styles */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 5rem;
  width: 100%;
  margin-top: 3rem;
  font-size: 1.3rem;
}

.footer-contact {
  margin: 0 auto;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.footer-email {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
}

.footer-phone {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  margin-right: 0.3rem;
}
/* Footer ends */

/* These are MapBox styles */
.map-container {
  position: relative;
  display: flex;
  height: 100vh;
  margin-top: -1.2rem;
}

.map-side-window {
  width: 30vw;
  overflow: scroll;
}

.map {
  width: 70vw !important;
  height: 100vh !important;
}

.map-side-header {
  text-align: center;
  background-color: var(--mainGreen);
  color: white;
  padding: 1.2rem;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.8)
}

.map-back-button {
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  margin-top: -1.0rem;
  margin-bottom: -0.5rem;
}

.map-back-button:hover {
  color: lightblue;
}

.map-shop-details {
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.8)
}

.map-shop-address {
  font-weight: bold;
  margin-bottom: 1rem;
}

.map-shop-phone {
  font-size: 1rem;
}

.map-shop-website {
  font-size: 1rem;
}

.map-no-products {
  text-align: center;
  padding: 1rem;
}

.map-product-container {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  height: 7rem;
}

.map-product-container:hover {
  cursor: pointer;
  background-color: #1bcbab1f;
}

.map-product-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.map-name-discount {
  display: flex;
  justify-content: space-between;
}

.map-discount {
  color: red;
  align-self: flex-start;
}

.map-shop-name {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.map-expiration {
  font-size: 0.9rem;
}

.map-product-details h5 {
  margin-bottom: 0.4rem;
}

.map-price-cart-button {
  align-self: center;
  width: 27%;
  margin-top: -0.5rem;
}

.map-price-container {
  margin-bottom: 1.5rem;
}

.map-prices {
  display: flex;
  justify-content: space-around;
}

.map-prices h5 {
  margin-bottom: 0;
}

.map-original-price {
  color: grey;
  margin-bottom: 0;
  text-decoration: line-through;
  font-size: 0.8rem;
  align-self: center;
}

.map-cart-button {
  background-color: var(--mainGreen) !important;
  color: white !important;
  padding: 0.3rem !important;
  width: 100% !important;
}

.map-product-divider {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.map-marker-products {
  cursor: pointer;
  color: black;
  font-size: 1.9rem;
  display: flex;
}

.map-marker-noProducts {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.445);
  font-size: 1.7rem;
}

.marker-product-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainGreen);
  color: white;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  position: relative;
  bottom: 9px;
  right: 9px;
}
/* MapBox ends */